<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="{{page.meta-keywords}}" />
<meta name="description" content="{{page.meta-desc}}" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ page.title }}</title>
<link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css" />
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-364736-11']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>
<div id="wrapper">
	<div id="menu">
		<ul>
		<!--
			<li class="current_page_item"><a href="/index.html">Hem</a></li>
			-->
			<li><a href="index.html">Hem</a></li>
<!--			<li><a href="nyheter.html">Nyheter</a></li>
-->
			<li><a href="bonder.html">Bönder</a></li>
			<li><a href="foreningar.html">Lantrasföreningar</a></li>
<!--
			<li><a href="#">Lantraser</a></li>
			<li><a href="#">Kött</a></li>
			<li><a href="#">Bilder</a></li>
			<li><a href="#">Länkar</a></li>
			<li><a href="#">Recept</a></li>
-->
			<li><a href="kontakt.html">Kontakt</a></li>
		</ul>
	</div>
	<!-- end #menu -->
	
	{{ content }}

	
</div>

<div id="footer">
	<p>Copyright (c) 2012 Lantraskött.se</p>
</div>
<!-- end #footer -->

</body>
</html>
